{% extends 'base.html.twig' %}

{% block title %}LES ESPACES{% endblock %}

{% block body %}
    <h1>{{ espace.nom }}</h1>
    <table class="table table-striped">
        <tr>
            <th>Nom</th>
            <th>Superficie</th>
            <th>Animaux maximum</th>
            <th>Quarantaine</th>
            <th>Actions</th>
        </tr>
        {% for e in enclos %}
            <tr>
                <td>{{ e.nom }}</td>
                <td>{{ e.superficie }}</td>
                <td>{{ e.animauxMax }}</td>
                <td>{{ e.quarantaine }}</td>

                <td>
                    <a href="{{ path("app_enclo_modifier", {"id": e.id}) }}" class="btn btn-primary"><span class="fas fa-pencil"></span></a>

                    <a href="{{ path("app_enclo_supprimer", {"id": e.id}) }}" class="btn btn-danger"><span class="fas fa-trash-can"></span></a>
                    <a href="{{ path("app_animal_voir") }}" class="btn btn-warning">voir animaux</a>
                </td>


                {% endfor %}
    </table>
    <a href="{{path("app_enclo_ajouter")}}" class="btn btn-success">Ajouter un enclos</a>

{% endblock %}
