{% extends 'base.html.twig' %}

{% block title %}LES ESPACES{% endblock %}

{% block body %}
    <h1>Gestion des Espaces</h1>
    <table class="table table-striped">
        <tr>
            <th>Titre</th>
            <th>Description</th>
            <th>Ouverture</th>
            <th>Fermeture</th>
            <th>Action pas le magasin mdr</th>
        </tr>
        {% for e in espaces %}
            <tr>
                <td>{{ e.nom }}</td>
                <td>{{ e.superficie }}</td>
                <td>{{ e.dateOuverture is empty ? "" : e.dateOuverture|date("d/m/Y") }}</td>
                <td>{{ e.dateFermeture is empty ? "" : e.dateFermeture|date("d/m/Y") }}</td>
                <td>
                    <a href="" class="btn btn-primary">modifier</a>
                    <a href="{{ path("app_espace_supprimer", {"id": e.id}) }}" class="btn btn-danger">supprimer</a>
                    <a href="" class="btn btn-warning">voir animaux</a>
                    <a href="" class="btn btn-warning">voir enclos</a>
                </td>


                {% endfor %}
    </table>
    <a href="{{path("app_espace_ajouter")}}" class="btn btn-success">Ajouter un espace</a>

{% endblock %}
